@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero-pattern {
    background-image: url('assets/HeroImage.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a dark overlay for readability */
  }